# refer to the documentation for available locales
DEFAULT_LOCALE = "en" # like these "bn" | "pt-BR" 

# dashboard configd
PORT = 7000 # port to use for the dashboard

# discord bot secrets
DISCORD_CLIENT_TOKEN = "Your discord bot token"
DISCORD_CLIENT_ID = "Your discord bot id" # not required for now.
DISCORD_CLIENT_SECRET = "Your bot secret"

# bot configs
OWNER_ID = "Your discord id"
GUILD_ID = "Your server id"
DEV_IDS = ["",""] # your bot developer ids. you can add yours

# mongodb DataBase URL
MONGO_URI = "MongoDB URL"

# spotify client secrets
SPOTIFY_CLIENT_ID = "Your spotify client id"
SPOTIFY_CLIENT_SECRET = "Your spotify client secret"

# channels for logging perposes. provide channels in this manner
LOG_CHANNEL_ID = "Your log channel id for logs"
COMMAND_CHANNEL_ID = "Your log channel id for command logs"

# links to use everywhere
SUPPORT_SERVER = "Your suuport server link"
BOT_WEBSITE = "Your bot's website"