# To ignore packages
node_modules

# Auto created & updated on npm install
package-lock.json

# All secrets are stored here
.env

# Log files
logs
**/logs/**

# Extra files
collected

# VS Code files
.vscode

# Lavalink Nodes
lavalink-nodes.js
