# VS Code setting files
.vscode

# To ignore packages
node_modules

# package lock files
package-lock.json
pnpm-lock.yaml

# All secrets are stored here
.env
lavalink-nodes.js

# Log files
logs
**/logs/**

# Extra files
collected
