/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
}

/* Header Styles */
header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #77aaff 3px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

/* Section Styles */
#about,
#badges,
#contact,
.status,
.goals {
  background: #fff;
  color: #333;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.about h2,
.status h2,
.goals h2,
.contact h2 {
  color: #333;
}

.goals ul {
  list-style: none;
  padding: 0;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.goals li {
  background: #e4e4e4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.center {
  text-align: center;
  margin: 0 20px;
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Social Links Styles */
.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.social-links li {
  list-style: none;
}

/* Footer Styles */
footer {
  text-align: right;
}

/* Responsive Styles */
@media (max-width: 1080px) {
  .container {
    width: 95%;
    padding: 0 10px;
  }

  header #branding,
  header nav {
    float: none;
    text-align: center;
  }

  header nav ul {
    padding: 0px;
    padding-bottom: 20px;
  }

  header nav ul li {
    display: block;
    padding: 10px;
  }

  footer {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}